FistVotingServiceBank/WebContent/wsdl/FirstServiceBank.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://votingservice.develops.capiz.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://votingservice.develops.capiz.org" xmlns:intf="http://votingservice.develops.capiz.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://votingservice.develops.capiz.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="guardarVoto">
    <complexType>
     <sequence>
      <element name="voto" type="xsd:string"/>
      <element name="idVotacion" type="xsd:int"/>
      <element name="boleta" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="guardarVotoResponse">
    <complexType>
     <sequence>
      <element name="guardarVotoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="guardarVotoRequest">

      <wsdl:part element="impl:guardarVoto" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="guardarVotoResponse">

      <wsdl:part element="impl:guardarVotoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FirstServiceBank">

      <wsdl:operation name="guardarVoto">

         <wsdl:input message="impl:guardarVotoRequest" name="guardarVotoRequest">

       </wsdl:input>

         <wsdl:output message="impl:guardarVotoResponse" name="guardarVotoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FirstServiceBankSoapBinding" type="impl:FirstServiceBank">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="guardarVoto">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="guardarVotoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="guardarVotoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FirstServiceBankService">

      <wsdl:port binding="impl:FirstServiceBankSoapBinding" name="FirstServiceBank">

         <wsdlsoap:address location="http://localhost:8080/FistVotingServiceBank/services/FirstServiceBank"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
